body {
    font-family: 'Poppins', sans-serif;
    background: var(--body_bg_color);
    transition: 0.3s;
}

#canvas-wrapper {
    Width: 100%;
    border: 1px solid black;
    margin-bottom: 40px;
    margin-top: 40px;
}
td{
    width: 20%;
    text-align: center;
}
.mode_button{
    width: 95%;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid #c1c1c1;
    background-color: var(--mode_button_bg_color);
    color: var(--mode_button_color);
    min-height: 40px;
    transition: 0.3s;
}
nav{
    background-color: var(--nav_bg_color);
    border-bottom: 1px solid black;
    transition: 0.3s;
}
.nav_link_a{
    font-size: 18px;
    border-right: 1px solid gray;
}
.navbar-brand{
    font-size: 24px;
    border-right: 1px solid gray;
    padding: 10px;
}
.navbar{
    padding: 5px;
}
.navbar-nav{
    flex-direction: row;
}
.search-box{
    top: 10px;
    padding-left: 20px;
}
#searchId{
    background: var(--search_bg_color);
    border: 1px solid grey;
    color: grey;
    height: 30px;
    transition: 0.3s;
}
div.modal-dialog.modal-xl{
    width: 60%;
}
.modal{
    background-color: #fafafa13;
    background-color: none;
    backdrop-filter: none;
}
.navbar>.container-fluid{
    justify-content: unset;
}
.navbar-nav li{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav_link_a a{
    text-decoration: none;
    color: gray;
}
.active{
    background-color: var(--active_bg_color);
    transition: 0.3s;
}
.navbar-brand img{
    width: 80px;
}
.dropdown-menu.show{
    position: absolute;
}
.dropdown-toggle{
    color: gray;
    text-decoration: unset;
    font-size: 20px;
}
.dropdown-menu{
    background-color: var(--dropdown_menu_bg_color);
    transition: 0.3s;
}
.dropdown-menu-li{
    font-size: 18px;
    background-color: var(--dropdown_menu_li_bg_color);
    border-bottom: 1px solid rgba(190, 142, 45, 0.9);
    transition: 0.3s;
}
.dropdown-menu-li:hover{
    background-color: var(--dropdown_menu_li_hover_bg_color);
}
.bx{
    font-size: 22px;
    padding-right: 10px;
    top: 5px;
    position: relative;
}
.table{
    --bs-table-border-color: #838383;
}
.slider input[type="range"] {
    width: 100%;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
.fill{
    min-height: 80vh;
    height: 80vh;
}
iframe, #news_prompt, .row-fill{
    width: 100%;
    height: 100%;
}
#screenshot_div, #screen_links{
    height: 100%;
}
.row-fill{
    margin-top: 10px;
}
#screen_list_header, #search_image{
    width: 100%;
}
#screenshot_div{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#screenshot_div nav{
    border: none;
}
.add-margin-top{
    margin-top: 20px;
}
#myList{
    list-style-type: none;
}
#screen_links{
    background-color: #0000000d;
}
#screen_list_header{
    margin-bottom: 10px;
}
#search_image{
    height: 45px;
}
#min_pike, #how_many_days, #search_image{
    background-color: var(--search_bg_color);
    border: 1px solid grey;
    transition: 0.3s;
}
:root{
    --body_bg_color:#00000014;
    --toggle_switch_color: rgba(250, 180, 40, 0.7);
    --toggle_switch_switch_color: rgb(250, 226, 174);
    --toggle_switch_before_color: rgb(255, 255, 255);
    --toggle_switch_left: 5px;

    --mode_button_bg_color: rgb(243 213 136);
    --mode_button_color: rgb(141 138 138);
    --nav_bg_color: rgb(255 204 102 / 70%); 
    --search_bg_color: rgb(255 204 102 / 70%);
    --active_bg_color: rgba(253, 191, 67, 0.7);
    --dropdown_menu_bg_color: rgba(253, 193, 74, 0.9);
    --dropdown_menu_li_bg_color:rgba(253, 193, 74, 0.9);
    --dropdown_menu_li_hover_bg_color:rgba(235, 173, 51, 0.9);
}
body.dark{
    --toggle_switch_left: 25px;
    --body_bg_color:#000000c9;
    --mode_button_bg_color:rgb(16 60 91);
    --nav_bg_color:#33507acc;
    --dropdown_menu_bg_color: #1f3658cc;
    --dropdown_menu_li_bg_color:#31558bcc;
    --dropdown_menu_li_hover_bg_color:#1f3658cc;
    --search_bg_color: #335fa0;
    --toggle_switch_color: #1e4072;
    --toggle_switch_switch_color: #0d6efd;
    --toggle_switch_before_color: #15396ea6;

    transition: 0.3s;
}
.mode{
    position: relative;
    border-radius: 6px;
    width: 60px;
    left: 10%;
    transition: 0.3s;
  }
  
  .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
  }
  .mode i{
    position: absolute;
  }
  
  .mode i.sun{
    opacity: 0;
  }
  .mode .toggle-switch{
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--toggle_switch_color);
  }
  
  .toggle-switch .switch{
    border-radius: 25px;
    position: relative;
    height: 22px;
    width: 44px;
    background: var(--toggle_switch_switch_color);
  }
  
  .switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: var(--toggle_switch_left);
    transform: translateY(-50%);
    background: var(--toggle_switch_before_color);
    transition: 0.3s;
  }